:root{
    --lightBlue:#4B6F9F;
    --darkBlue:#121e38;
    --transition:all .3s ease-in-out;
}
a{
    text-decoration:none;
    transition:var(--transition);
}
.site-logo {
    width: 11rem;
}
.menu-item a{
    font-size:1rem;
    color:var(--darkBlue);
    transition:var(--transition);
}
.menu-item a:hover{
    color:var(--lightBlue);
}
.heroBanner{
    height: calc(100vh - 8.162rem);
    border-radius:1.5rem;
    overflow:hidden;
}
@media(min-width:1200px){
    header{
        padding:1rem 5rem!important;
    }
    
}
